cache
libraries
logs
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
server.jar
spigot.yml
whitelist.json
session.lock
versions
.console_histroy

authme.*
plugins/authme/playerdata
plugins/CustomSprays

wepif.yml